html {
    background: url('snowcappedmtn.jpg') no-repeat center fixed; 
    background-size: cover;

}

body {
    
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    -webkit-text-stroke-color: #3693d6;
    -webkit-text-stroke-width: .5px;
    margin: 0px;
    height: auto;
    max-width: 900px;
}

.container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

.wrapper {
    height: 700px;
}

nav {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav h1 {
    margin: 10px;
    display: flex;

}

nav a {
    display: flex;
    text-decoration: none;
    color: white;
    flex-direction: row;
    -webkit-text-stroke-color: #3693d6;
    -webkit-text-stroke-width: .5px;
    
}

nav ul {
    display: flex;
    margin: 10px;
    list-style-type: none;
    flex-basis: fit-content; 
}
    
 
 nav li {
     margin: 2px 4px;
     border-radius: 10px;
     padding: 5px;
     border: white solid;
     
 }


.titlecard {
    margin: 200px 0 0 0;
    color: rgb(255, 253, 253);
    font-family: 'anton', sans-serif;
    font-size: 5rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px #000000;
    transform: rotate(-20deg);

}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.about-block {
    flex-grow: inherit;
    background-color: #3693d6;
    width: 100rem;
    align-self: center; 
    height: 15rem;
    

}
.about-block h1 {
    position: relative;
    text-align: center;
    margin-top: 1rem;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0;
}

.about-block p {
    position: relative;
    text-align: center;
    line-height: 1.6rem;
    -webkit-text-stroke-width: 0;
    margin: 1rem 10rem 0 10rem;
}

img {
    width: 100%;
    margin: auto;
    height: 50vh;
    flex: 0 1 60vh;
    margin: 0;
}

.img h1{
    text-align: center;
    background-color: #3693d6;
    margin: auto;
    
}

.waterfall {
    position: relative;
    width: 100%;
}

.waterfall p {
    position: absolute;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: #3693d6;
    
} 

.footer ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-self: center;
    
}

.footer li{
    color: white;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .5px;

    
}



