html {
    background: url('snowcappedmtn.jpg') no-repeat center fixed;
    background-size: cover;

}

body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
    -webkit-text-stroke-color: #3693d6;
    -webkit-text-stroke-width: .5px;
    margin: 0 auto;
    height: auto;
    width: 100%;
    width: fit-content
}

.container {
    width: fit-content;
}

.wrapper {
    height: 700px;

}

nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav h1 {
    margin: 10px;
}

nav a {
    display: flex;
    text-decoration: none;
    color: #3693d6;
    flex-direction: row;
    -webkit-text-stroke-color: #3693d6;
    -webkit-text-stroke-width: .5px;

}

nav ul {
    display: flex;
    margin: 10px;
    list-style-type: none;
    flex-basis: fit-content;
}


nav li {
    margin: 2px 4px;
    border-radius: 10px;
    padding: 5px;
    border: white solid;
    background-color: white;

}


.titlecard {
    margin: 200px 0 0 0;
    color: rgb(255, 253, 253);
    font-family: 'anton', sans-serif;
    font-size: 5rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px #000000;
    transform: rotate(-20deg);

}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.about-block {
    flex-grow: inherit;
    background-color: #3693d6;
    align-self: center;
    height: 15rem;


}

.about-block h1 {
    font-size: 2rem;
    padding: 10px;
    position: relative;
    text-align: center;


}

.about-block p {
    text-align: center;
    line-height: 1.6rem;
    -webkit-text-stroke-width: 0;
}

img {
    width: 100%;
}

.img h1 {
    text-align: center;
    background-color: #3693d6;
    margin: auto;

}

.waterfall {
    position: relative;
    width: 100%;
}

.women {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.women h1 {
    margin: 40px;
    font-size: 2 rem;
    background: none;
    color: #3693d6;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .1px;
}

.women img {
    align-self: center;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;


}

.women p {
    margin: 10px;
    color: #3693d6;

    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .1px;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #3693d6;
    height: 13rem;

}

.footer ul {
    display: flex;
    list-style-type: none;
    


}

.footer li {
    color: white;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .5px;
    margin: 4rem 3rem 0 3rem;
    
}

.footer_nav {
    margin: 50px;
}

@media (min-width: 500px) {

    
    
    .img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }
       

    .about-block p {
        font-size: 16px;
        margin: auto 5rem;
    }

    .hikers {
        grid-column: span 1;

    }

    .guy {
        grid-column: span 1;
        
    }

    .snow {
        grid-column: span 1;
    
    }

    .waterfall {
        grid-column: span 1;
    }

    .women {
        grid-column: span 2;
    }

    .women p {
        font-size: 30px;
        margin: 4rem 15rem;
    }

    .women h1 {
        font-size: 2rem;
    }
}


