html {
    background: url('snowcappedmtn.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
    margin: 0;
    height: auto;
}

.container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

.wrapper {
    height: 700px;
}

header {
   grid-area: header;
}
main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

nav {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav h1 {
    margin: 10px;
    display: flex;

}

nav a {
    display: flex;
    text-decoration: none;
    color: white;
    flex-direction: row;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
    
}

nav ul {
    display: flex;
    margin: 10px;
    list-style-type: none;
    flex-basis: fit-content; 
}
    
 



 nav li {
     margin: 2px 4px;
     border-radius: 10px;
     padding: 5px;
     border: white solid;
     
 }

 main img {
     display: flex;
     flex-basis: auto;
 }

.titlecard {
    margin: 200px 0 0 0;
    color: rgb(255, 253, 253);
    font-family: 'anton', sans-serif;
    font-size: 5rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px #000000;
    transform: rotate(-20deg);

}

.main {
    flex-flow: row wrap;
}

img {
    width: 700px;
}